<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LocalBlast.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <LocalBlast.Settings>
            <setting name="BlastpDbPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BlastpQueryPaneHeight" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="BlastpResultPaneHeight" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="BlastpDescPaneHeight" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="BlastBinDir" serializeAs="String">
                <value />
            </setting>
            <setting name="BlastnDbPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BlastnQueryPaneHeight" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="BlastnResultPaneHeight" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="BlastnDescPaneHeight" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="BlastnTask" serializeAs="String">
                <value>Megablast</value>
            </setting>
            <setting name="BlastnMaxTargetSeqs" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="BlastnMaxHsps" serializeAs="String">
                <value>500</value>
            </setting>
        </LocalBlast.Settings>
    </userSettings>
</configuration>